<!DOCTYPE html>
<html lang="en">
    {%include 'head.njk'%}
    <body>
        <div class="grid">
            <div class="banner">
                <span class="quote">"A journey of a thousand miles begins with a single step."
                </span>
                <strong>
                    Begin yours today ↓
                </strong>
            </div>
            <!--end div.banner-->
            {%include 'header.njk'%}
            {%include 'main.njk'%}
            {%include 'footer.njk'%}
        </div>
        <!--end div.grid-->
    </body>
</html>