.grid {
  display: grid;
  grid-template-areas:
    "b b b b b b b b b b b b"
    ". h h h h h h h h h h ."
    ". m m m m m m m m m m ."
    ". f f f f f f f f f f .";
  grid-template-columns: repeat(12, 1fr);
}
.banner {
  grid-area: b;
  padding: 15px;
  text-align: center;
}

header {
  grid-area: h;
  padding: 20px 0 100px 0;
}

main {
  grid-area: m;
}

.overview {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  column-gap: 20px;
}

footer {
  grid-area: f;
}

/* Wide screens (1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Standard screens (between 992px and 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablets (between 768px and 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile phones (up to 767px) */
@media only screen and (max-width: 767px) {
  header nav {
    display: none;
  }
  h1 {
    font-size: 5em;
  }
  .overview {
    grid-template-columns: 1fr;
  }
}
