<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta description="{{site.description}}"/>
    <meta property="og:title" content="{{site.title}}"/>
    <meta property="og:description" content="{{site.description}}"/>
    <meta property="og:type" content="{{site.og.type}}"/>
    <meta property="og:url" content="{{page.url}}"/>
    <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg"/>
    <link rel="preconnect" href="https://rsms.me/"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
    <link rel="stylesheet" href="./styles/style.css"/>
    <title>{{site.title}}</title>
</head>