---
layout: base.njk
---

<section class="hero">
    <h1>
        11 Weeks
        <span class="yellow">x</span>
        11ty
    </h1>
    <h2>{{site.subtitle}}</h2>
</section>
<!--end section.hero-->
<section class="overview">
    <div class="what">
        <p>11ty is an open-source static site generator with all the suace and none of the nonesense. This space (and related
            11-week sprint) is dedicated to all of the 11ty Neophites and Aficionados who want to learn the ropes and/or hone thier
            skills.
        </p>
    </div>
    <div class="why">
        <p>We will learn to together and we will grow together as we explore the many faces and features of 11ty through
            hands-on experience, trial-and-error + mutual exchange of tips, tricks and best practices.</p>
        <strong>Happy Coding Ya'll.</strong>
    </div>
    <!--end div.what-->
</section>
<!--end section.overview -->